<div class="textBlock">
    <p><i>Discreet</i>, the best spycam app for iOS, allowing you to take photos and record videos in complete stealth mode. With its hidden and candid camera features, you can easily capture moments without drawing attention. Whether you're using it as a secret video recorder or snapping photos while your iPhone appears locked or turned off, Discreet ensures you're always in the background, unnoticed. The app’s advanced stealth mode lets you take photos and record videos with a black screen, making it seem like your iPhone is inactive. Additionally, Discreet Camera includes a private gallery where you can securely store all your secret videos and photos, keeping them safe and out of sight. With Discreet - Black Screen Camera, you can capture candid moments with ease, maintaining privacy and staying in the background, all while keeping your memories safe.</p> 
    <br/>
    <div class="qrcode">
        <p class="centered-text"><a href="https://apps.apple.com/us/app/discreet-black-screen-camera/id1600729989"><img src="/assets/qrcode.png"/></a></p>
    </div>
</div>