<div class="textBlock">
    <p><i>Discreet</i> is the perfect app for capturing photos and recording videos without distractions. With our innovative black screen technology, you can take high-quality shots without lighting up your surroundings or disrupting the moment. Ideal for concerts, live events, or any situation where you want to avoid disturbing others with your screen, Discreet lets you use your camera more subtly. With advanced features like autofocus, image stabilization, and scene recognition, you can always count on sharp, well-composed shots, even in challenging lighting conditions. Whether you're capturing a special moment without drawing attention or simply prefer a more discreet camera experience, Discreet is the app for you. Download Discreet today and discover a new way to capture your favorite moments with subtlety and quality.</p> 
    <br/>
    <div class="qrcode">
        <p class="centered-text"><a href="https://apps.apple.com/us/app/discreet-black-screen-camera/id1600729989"><img src="/assets/qrcode.png"/></a></p>
    </div>
</div>